*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# AI Generated Logs
*.log
*.txt

# Build Artifacts
/build
/captures
.externalNativeBuild
.cxx
local.properties

